body {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	background-image: url("image.jpg");
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	color: #c5c3c6;
	margin-top: 50px;
}

.name {
	margin-left: 30px;
}

h3 {
	color: #46494C;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	display: inline;
	float: right;
	padding: 10px;
}

.right {
	position: relative;
	left: 90%;
	margin-top: -165px;
}

.right2{
	position: relative;
	margin-right: auto;
	margin-left: 75%;
}

@media only screen and (min-width: 990px) {
	.right2{
		position: absolute;
		padding: 0;
		margin-right: 20px;
		margin-left: 40%;
		right: 0;
	}
}

@media only screen and (max-width: 992px) {
	.email {
		font-size: 11px;
	}
}

.text {
	color: #c5c3c6;
	width: 100%;
	background-color: #146C82;
	padding: 30px;
	margin-top: 70px;
	margin-bottom: 100px;
}

.top {
	margin-top: 300px;
}

.school {
	margin-top: 25px;
}

.me {
	font-size: 12px;
	margin-right: 10px;
	float: right;
}

a {
	color: #146C82;
}